/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@400;700&display=swap');

@font-face {
    font-family: 'Sternbach';
    src: url('../fonts/Sternbach.ttf');
}

html {
    font-size: 100%;
}

/* colors */
:root {
    --color1: #ff6347;
    --color2: #cd853f;
    --border: #dfdfe9;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, .header-font {
    font-family: 'Sternbach', sans-serif;
}

h3 {
    font-family: 'Acme', sans-serif;
}

/* homepage */
.my-navbar {
    display: inline-flex;
    flex-grow: 1;
}

#logo {
    background-image: url("../images/logo.jpg");
    background-position-y: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-bottom: 5vh;
}

.color1 {
    color: var(--color1)
}

.color2 {
    color: var(--color2);
}

/******************************
*           Navbar
*******************************/

/* override bootstrap style - used to centre promma in navbar */
#navbarSupportedContent {
    flex-grow: 0;
}

/* slide up hover effect for navbar on large devices */
@media (min-width: 992px) {
    .navbar-collapse > .navbar-nav a.nav-link {
        background: linear-gradient(to bottom, var(--color1) 0%, var(--color1) 100%);
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 1px 4px;
        transition: all .3s ease-in-out;
    }

    .navbar-collapse > .navbar-nav a.nav-link:hover {
        color: white;
        font-weight: 700;
        background-size: 1px 40px;
    }
}

/* override bootstrap hover colours for social media */
.my-navbar > .navbar-nav a.nav-link:focus,
.my-navbar > .navbar-nav a.nav-link:hover {
    color: rgba(0, 0, 0, .55);
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--color1);
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-instagram:hover {
    color: #C13584;
}

.fa-facebook:hover {
    color: #1877F2;
}

/******************************
*           Homepage
*******************************/
.content h2 {
    margin-bottom: 30px;
    color: var(--color2);
    text-align: center;
}

/* news */
.my-card-img {
    margin: auto 0;
}

@media (max-width: 991px) {
    .my-card-img {
        margin-top: 12px;
    }
}

.news {
    padding-bottom: 70px;
}

.news .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}


.news .card-img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    margin: 0;

}

/* events */
.home-events-container {
    display: block;
    background-color: var(--color1);
    margin: 0 -12px; /* -ve margin to account for bootstrap default margin */
    padding: 40px 0;

}

.home-events-container h2 {
    color: #fff;
    margin-top: 0;
}

.event, .fight {
    background-color: #fff;
    padding: 30px 10px;
    margin-bottom: 20px;
    transition: all 0.4s;
    border-radius: 5px;
    overflow: hidden;
}

.event:hover, .fight:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.event .headliner {
    font-size: 1.4em;
    font-weight: bold;
    margin: 15px 0;
}

.event .headliner a {
    text-decoration: inherit;
    color: inherit;
}

.event .headliner a:hover {
    color: var(--color1);
}

.event .name {
    margin: auto 0;
}

.event .date {
    font-size: 1em;
}

.event .location {
    font-size: .8em;
}

.athlete-images img {
    min-width: 100%;
    max-height: 120px;
    height: 100%;
}

.athlete-images {
    margin: 0 auto;
    position: relative;
    display: block;
    overflow: hidden;
}

.athlete-left, .athlete-right {
    position: absolute;
    height: 100%;
    object-position: top;
    object-fit: cover;
}


.athlete-left {
    left: -10%;
    z-index: 100;
}

.athlete-right {
    left: 50%;
}

@media (max-width: 767px) {
    .athlete-images {
        height: 100px;
    }

    .athlete-images img {
        max-width: 150px;
    }

    .athlete-left {
        left: 10%;
        z-index: 100;
    }

    .athlete-right {
        left: 50%;
    }
}


.event span, .fight span {
    display: block;
}

.btn-more {
    margin-top: 20px;
    color: #000;
    background-color: #fff;
    border-color: #000;
    text-transform: uppercase;
    font-weight: bold;

    transition: all 0.3s ease-in;
    padding: .75rem 1rem;
}

.btn-more:hover {
    color: #fff;
    background-color: #000;
    border-color: #fff;
}


/* footer */
footer {
    padding: 30px 40px 20px 40px;
    color: #fff;
    background-color: #000;
    text-align: center;
    font-size: 1em;
}

/******************************
*           Rankings
*******************************/
.rankings-container {
    margin-bottom: 50px;
}

.rankings-container h2 {
    color: var(--color2);
    text-align: center;
    margin-bottom: 50px;
}

.rankings-container .nav-pills .nav-link.active {
    background-color: var(--color1);
    color: #fff;
}

.rankings-container .nav-pills .nav-link {
    color: var(--color1);
}

.rankings-container .nav-pills .nav-link.disabled {
    color: #6c757d;
}

.rankings-container table {
    margin: 20px 0;
}

.rankings-container .table-dark {
    --bs-table-bg: var(--color1);
}


/******************************
*           Events
*******************************/

.events-container {
    margin-bottom: 10vh;
}

.events-container ul {
    margin-bottom: 5vh;
    color: #ccc;
}

.events-container ul.header-font .active {
    color: var(--color2);
}

.events-container ul.header-font li:hover {
    color: var(--color1);
    cursor: pointer;
}

.events-container .event:first-of-type {
    border-top: 1px solid var(--border);
}

.events-container .event {
    border-bottom: 1px solid var(--border);
}

.events-container .pagination {
    margin-top: 5vh;
}

.events-container .page-item.active .page-link {
    background-color: var(--color1);
    border-color: var(--color1);
}

/* hide line break on small devices */
@media (max-width: 767px) {
    .event span.header-font br {
        display: none;
    }
}


/*
Event Fight Listing
*/
.event-overview {
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
}

.event-overview span {
    display: block;
}

.event-name {
    letter-spacing: .15em;
    color: var(--color1);
}

.event-date {
    text-transform: uppercase;
    font-size: .85em;

}

.event-location {
    font-size: .55em;
}

.event-detail-container h2 {
    margin: 80px 0 30px 0;
    text-align: center;
    font-size: 3em;
}

div.fight {
    border-bottom: 1px dotted #dcdcdc;
}

.fight img {
    display: block;
    width: 100%;
    max-height: 140px;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}


span.fight-outcome {
    display: inline-block;
    margin-bottom: 18px;
    border-radius: .25rem;
    padding: 3px 5px;
    font-size: .7em;
    color: #fff;
    font-weight: bold;
    letter-spacing: .1em;
}

.fight-outcome .win {
    background-color: rgb(25, 135, 84);
}

.fight-outcome .draw {
    background-color: rgb(108, 117, 125);
}

.fight .athlete-img {
    overflow: hidden;
}

.fight .athlete-name {
    font-size: 1.5em;
    font-weight: bold;
}

.fight-detail {
    text-align: center;
    font-size: .7em;
    text-transform: uppercase;
    font-weight: bold;
    color: #b4b4b4;
}

.fight-detail .weight-class {
    letter-spacing: .15em;
}

.fight-detail .item {
    letter-spacing: .15em;
}

.fight-detail .value {
    font-size: 1.15em;
    letter-spacing: normal;
    color: #585b63;
}

.fight-detail .versus {
    margin: 15px 0;
}

